
    body {
/*       background-image: url("1.jpeg");
       background-repeat: no-repeat;
       background-size: auto;*/
      font-family: arial;
      color: red;
      font-size: 100px;
    }
    
    .container {
      background-image: url("1.jpg");
      background-size: 100%;
      background-origin: content;
/*      margin: 0 auto;
      width: 600px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;*/
      height: 100vh;
    }
    
    .item {
      text-align: center;
    }


 .circle {
      width: 100px;
      height: 100px;
      background: rgb(255,177,96);
      background: linear-gradient(90deg, rgba(255,177,96,1) 0%, rgba(255,164,0,1) 44%, rgba(230,30,30,1) 100%);
      border-radius: 50%;
      margin-left:10%;
      margin-top: 50%;
      margin-right:auto;
      transform: rotate(25deg);
      animation: spintype 7s ease-in-out infinite alternate;
   }

   .circle2 {
      width: 100px;
      height: 100px;
      background: rgb(198,96,255);
      background: linear-gradient(90deg, rgba(198,96,255,1) 0%, rgba(255,0,196,1) 44%, rgba(230,30,30,1) 100%);
      border-radius: 50%;
      margin-left:90%;
      margin-top: 50%;
      margin-right:90%;
      transform: rotate(25deg);
      animation: spintype 7s ease-in-out infinite alternate;

    }

.circle3 {
      width: 100px;
      height: 100px;
      background: rgb(207,255,96);
      background: linear-gradient(90deg, rgba(207,255,96,1) 0%, rgba(11,138,33,1) 44%, rgba(30,230,169,1) 100%);
      border-radius: 50%;
      margin-left:20%;
      margin-top: 50%;
      margin-right:auto;
      transform: rotate(25deg);
      animation: spintype 7s ease-in-out infinite alternate;

 
@keyframes spintype {
  0% {
  transform: rotate(0turn);
  }
  100% {
  transform: rotate(1turn);
  }

#circle{
height:100px;
}

#circle2{
height:100px;
}

#circle3{
height:100px;
}



