/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
}


.table{
position: absolute;
top: 60%;
left:20%;
width: 65%;
height: 50%;
background: dimgray;
transform:skewX(-40deg);
}

.book{
top: 60%;
left: 45%;
width: 100%
height: 100%;
z-index: 3;
}

.book-top{
position: relative;
top: 50%;
left: 35%;
width: 10%;
height:25%;
background:gainsboro;
z-index: 3;

}
.book-middle{
position: relative;
top: 60% ;
left: 35%;
width:5%;
height:20%;
background-color:blue;
z-index: 3;
}



.vase{
position: absolute;
top: 50% ;
left: 45%;
width:5%;
height: 18%;
background:lightblue;
z-index: 3;
}

.flower{
position: absolute;
top: 50%;
left:45%;
width:5%;
height:7%;
border-radius: 100%;
background-color: mediumvioletred;
z-index: 3;
}
.flower-2{
position: absolute;
top: 55%;
left:45%;
width:5%;
height:10%;
border-radius: 100%;
background-color: mediumvioletred;
z-index: 3;



}
.orange-1{
position: relative;
top:45%;
left:50%;
width:5%;
height:5%;
border-radius: 100%;
background-color: orange;
z-index: 3;
}
.orange-2{
position: relative;
top:40%;
left:55%;
width:5%;
height:5%;
border-radius: 100%;
background-color: orange;
z-index: 3;
}
.orange-3{
position: relative;
top:35%;
left:60%;
width:5%;
height:5%;
border-radius: 100%;
background-color: orange;
z-index: 3;
}







/* Your CSS goes here */
